  
<div class="backg min-vh-100">

  <div class="container py-3" style="max-width: 1200px;">
  <!-- style="padding-bottom: 100px;"-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="padding-bottom: 120px;">
      <div class="container">
        <a class="navbar-brand" href="#">Undertake</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
         
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#servicios">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#contacto">Contacto</a>
            </li>
          </ul>
          <div class="buttons">
            <button routerLink="/login" class="btn btn-outline-light" style="border-radius: 100px;">Ingresar</button>
            <button routerLink="/register" class="btn mx-2" style="background-color:#482BE7; border-radius: 100px; color: #fff;">Crear cuenta</button>
          </div>
          
        </div>
      </div>
    </nav>
  
    <div class="row justify-content-center align-items-center text-center text-white txt-main">
     
      <div class="col-10 col-sm-8 mb-2">

      
        <h2 class="mb-2">NOVEDADES</h2>
        <hr style="border: 1px solid;">
        <div class="mb-5">

         
          <h1 style="font-weight: 700;">UndertakeData:</h1>
          <h1 style="font-weight: 700;">Un CRM creado para fidelizar</h1>
         
        
        <button class="btn btn-outline-light my-3" style="border-radius: 100px;">Más información</button>
        </div>
        
      </div>



    </div>
  
  </div>
  
</div>

<!-- PRODUCTOS -->
  
 <div class="container-fluid">
  <a name="servicios"></a>
  <div class="row pb-3">
    <div class="col-12 col-md-5 img2">
     
    </div>
    <div class="col-12 col-md-7 py-5">
      <div class="text-left py-5 px-5 txt-prod">
        <img src="../../../assets/logodata.png">
      
        <h2 class="py-3">Creamos esta herramienta para automatizar la comunicación vendedor-cliente. Presentamos un CRM que permite desarrollar campañas de mensajes totalmente personalizados.</h2>
        <button class="btn btn-lg my-2" style="border-radius: 100px; margin-right: 15px; background-color: #109CF1; color: #fff;">Comenzar</button>
        <button class="btn btn-lg my-2" style="border-radius: 100px; border: 2px solid #109CF1; color: #109CF1;">Ver demo</button>
      </div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-5 img3">
      
    </div>
    <div class="col-12 col-md-7 py-5">
      <div class="text-left py-5 px-5 txt-prod">
        <div class="pb-3">
          <h1 class="me-2">UndertakeWeb</h1>
          <h6 style="font-weight: 500; color: rgba(21, 20, 57, 0.4);">Próximamente</h6>
        </div>
       
        <h2 class="py-2">Crea tu página web personalizada y profesional en cuestión de minutos. Ofrecé tus productos y/o servicios online y digitaliza tu negocio.</h2>
        <h2>¿Te gustaría saber cuando esté disponible? ¡Te avisaremos!</h2>
        <div class="d-flex py-3 justify-content-around">

          <mat-form-field appearance="legacy" style="width: 50%;">
            <input matInput placeholder="Tu correo electrónico"> 
          </mat-form-field>
         
            <a href="mailto:undertakecontacto@gmail.com?Subject=Deseo%20mas%20informacion%20sobre%20UndertakeWeb">
              <button class="btn btn-outline-light" style="background-color: #4C488D; border-radius: 100px; height: 50px; width: 113px; font-size: 18px;">Listo</button>
            </a>        
        </div>
      </div>   
    </div>

  </div>
 </div>

 <!-- NOSOTROS -->
 <a name="nosotros"></a>
 <div class="back2 text-white py-5">
  <div class="container">
    <div class="row justify-content-center py-5">
      <div class="col-10 py-5">
        <div class="py-5">
          <h1 class="py-3" style="font-weight: 700; letter-spacing: 3px;">Sobre Nosotros</h1>
          <h2 style="font-weight: 400; letter-spacing: 1px;">Undertake es una Start-Up tecnológica que tiene como propósito fomentar el emprendedurismo a través del desarrollo de soluciones digitales y la educación. Actualmente, la empresa opera en Argentina y Ecuador.</h2>
        </div>
      </div>
     
    </div>


  </div>
 </div>

<!-- CONTACTO -->
 <a name="contacto"></a>
  <div class="backg-contacto text-white">
    <div class="container">
      <div class="row py-5 justify-content-center">
        <div class="col-10 col-md-6 py-5">
          <h1 class="py-2" style="font-weight: 700;">Contacto</h1>
          <div class="d-flex align-items-center py-3">
            <img src="../../../assets/insta.png" alt="" style="height: 25px; padding-right: 15px;">
            <a target="_blank" href="https://instagram.com/undertakeoficial" style="text-decoration: none; font-size: 15px; font-weight: 400; border-radius:20px;" class="btn btn-outline-light">Seguinos en Instagram</a>
          
          </div>
          <div class="d-flex align-items-center py-3">
            <img src="../../../assets/what.png" alt="" style="height: 25px; padding-right: 15px;">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5492215949132&text=Hola%20Undertake!" style="text-decoration: none; font-size: 15px; font-weight: 400; border-radius:20px;" class="btn btn-outline-light">Enviar WhatsApp</a>
            
          
          </div>
          <div class="d-flex align-items-center py-3">
            <img src="../../../assets/telegram.png" alt="" style="height: 25px; padding-right: 15px;">
            <a target="_blank" href="https://t.me/undertakeoficial" style="text-decoration: none; font-size: 15px; font-weight: 400; border-radius:20px;" class="btn btn-outline-light">Enviar Telegram</a>
          
          </div>
  
          <div class="d-flex align-items-center py-3">
            <img src="../../../assets/telefono.png" alt="" style="height: 25px; padding-right: 15px;">
            <a target="_blank" href="https://calendly.com/undertake/" style="text-decoration: none; font-size: 15px; font-weight: 400; border-radius:20px;" class="btn btn-outline-light">Acordar un llamada</a>
          
          </div>
  
          <div class="d-flex align-items-center py-3">
            <img src="../../../assets/mail.png" alt="" style="height: 25px; padding-right: 15px;">
             <a target="_blank" href="mailto:undertakecontacto@gmail.com" style="text-decoration: none; font-size: 15px; font-weight: 400; border-radius:20px;" class="btn btn-outline-light">Enviar Correo electronico</a>
          </div>
          
        <div class="d-flex align-items-start py-3">
          <img src="../../../assets/ubicacion.png" alt="" style="height: 25px; padding-right: 15px;">
          <p routerLink="/admin" style="font-size: 18px; font-weight: 500;">La Plata,<br>Buenos Aires, <br>Argentina. </p>
        </div>
       
        </div>
      </div>
    </div>
  </div>  

  <!-- FOOTER -->
  <footer class="footer pt-2 pb-1" style="background-color: #2F1893;">
    <div class="container py-5">
      <div class="row">

        <div class="col-12 col-sm-4 text-center mb-3">
          <div>
            <img src="../../../assets/ft-logo.jpg" style="border-radius: 10px;" class="mb-1">
            <h2 class="mb-3 font-weight-bold text-white">Undertake</h2>

            <div class="mb-3">     
              <a target="_blank" href="https://instagram.com/undertakeoficial">
                <img src="../../../assets/ft-inst.png" class="mx-2">
              </a>             
              <a target="_blank" href="mailto:undertakecontacto@gmail.com">
                <img src="../../../assets/ft-mail.png" class="mx-2">
              </a>        
              <a target="_blank" href="https://api.whatsapp.com/send?phone=5492215949132&text=Hola%20Undertake!">
                <img src="../../../assets/ft-wht.png" class="mx-2">
              </a>
            </div>
           
          </div>
        </div>

        <div class="col-12 col-sm-4 mb-4 text-center text-sm-start">
          <h5 class="text-white mb-4 font-weight-bold">Servicios</h5>
          <p>
            <a href="#servicios" class="text-white" style="text-decoration: none;">UndertakeData</a>
          </p>
         
        </div>

        <div class="col-12 col-sm-4 mb-4 text-center text-sm-start">
          <h5 class="text-white mb-4 font-weight-bold">Nosotros</h5>

          <p>
            <a href="#nosotros" class="text-white" style="text-decoration: none;">Sobre nosotros</a>
          </p>
         
        </div>

       
      </div>
    </div>
    
    <h3 class="text-white text-center" style="font-size: 16px; font-weight: 400;">© Undertake. Todos los derechos reservados.</h3>
  </footer>
 