<!--Agregar Producto-->
<div class="row my-4">
    <h1 class="my-3">Agregar/Editar Producto</h1>
  
    <form class="text-dark" [formGroup]="form" action="" (submit)="createProduct()">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              formControlName="name"
            />
            <label for="floatingInput">Nombre</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingPassword"
              formControlName="description"
            />
            <label for="floatingInput">Descripcion</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-floating mb-3">
            <input
              type="number"
              class="form-control"
              id="floatingPassword"
              formControlName="price"
            />
            <label for="floatingInput">Precio</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="number"
              class="form-control"
              id="floatingPassword"
              formControlName="productCategory"
            />
            <label for="floatingInput">Categoria</label>
          </div>
    
          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              formControlName="main"
            />
            <label class="form-check-label text-light" for="flexCheckDefault">
              Destacar
            </label>
          </div>
        </div>
        <div class="col-12">
          <div class="col-sm-12 col-md-6 mt-3">
            <div class="mb-3">
              <label for="formFile" class="form-label text-white">Insertar Imagen</label>
              <input
                accept="image/png, image/jpeg"
                (change)="handleFileInput($event,2)"
                class="form-control"
                type="file"
              />
            </div> 
            <img
            style="width: 500px"
            class="img-thumbnail bg-light"
            [src]="urlMain"
            alt="No seleccionó ninguna imagen"
          />
          </div>  
        </div>
      </div>
      
  
      <button class="btn btn-success my-3" type="submit">Cargar Producto</button>
  
    </form>
  </div>
  
