<h1 class="text-center py-2">Preguntas frecuentes sobre UndertakeData</h1>
<mat-accordion>
    <mat-expansion-panel class="my-3" style="max-width: 85%; margin: auto; border-radius: 8px;">
        <mat-expansion-panel-header>  
          <mat-panel-title style="font-weight: 500; font-size: 18px;">
            ¿Cómo configurar mi correo Gmail?
          </mat-panel-title>        
        </mat-expansion-panel-header>      
        <h3 style="font-weight: 400;">Debes solicitar de la siguiente manera la “Contraseña de aplicación” de Google, lo cual no es algo complicado, y podrás hacerlo en unos pocos pasos. 
            Esto es necesario dado que es un requisito de Google para configurar tu cuenta con nuestros servidores. Seguí este instructivo: 
            <br>
            1. Ingresá a <a href="https://myaccount.google.com">www.myaccount.google.com</a> e inicia sesión en tu cuenta de Google.
            <br>
            2. Hacé click en el apartado de ‘‘Seguridad’’ que está cuarta en la lista de la izquierda del panel.
            <br>
            3. Una vez en la pestaña, deslizá hacia abajo hasta un subtítulo llamado ‘‘Acceso a Google’’. Allí haz click en ‘‘Activar verificación de dos pasos’’. Si la verificación está activada aparecerá‘ SI’.
            <br>
            4. Una vez activada la verificación en dos pasos, debés requerir la contraseña de aplicación, desde ‘‘Contraseñas de aplicaciones’’. 
            <br>
            5. Luego, por seguridad, deberás ingresar nuevamente tu contraseña de Google. 
            <br>
            6. Una vez en el panel de contraseñas de aplicación, debes elegir la app ‘‘Otra (nombre personalizado)’’, que está última en la lista. Y allí colocar: Undertake.
            <br>
            Para obtener el código deben tocar en ‘‘Generar’’.
            <br>
              7. De esa forma, se generará un código de letras y espacios que debes copiar y guardar (respetando el espaciado entre las letras).
              <br>
              8. Ingresá en Undertake.ar y dirígete al panel de configuración (click en las tres rayitas de arriba a la izquierda). Luego, clickea en ‘‘Configurar email’’. 
              <br>
              9. Allí debés ingresar tu email y la contraseña de aplicación que copiaste. Y de esta forma podrás enviar emails por tu cuenta de Google (Gmail).

            </h3>
             
      </mat-expansion-panel>

      <mat-expansion-panel class="my-3" style="max-width: 85%; margin: auto; border-radius: 8px;">
        <mat-expansion-panel-header>  
          <mat-panel-title style="font-weight: 500; font-size: 18px;">
            ¿Cómo configurar mi correo electrónico (Si NO es Gmail)?  
          </mat-panel-title>        
        </mat-expansion-panel-header>      
        <h3 style="font-weight: 400;">De esta forma debes sincronizar tu correo electrónico si NO tienes Gmail (es decir, si utilizas Hotmail, Outlook, Live y otros servicios): Debes ingresar al panel de control de UndertakeData y hacer click en “Configurar email”, y completar allí con los datos de tu usuario de correo electrónico, es decir, con la dirección de correo y la contraseña real que utilizas en este servicio.
        </h3>   
      </mat-expansion-panel>


      <mat-expansion-panel class="my-3" style="max-width: 85%; margin: auto; border-radius: 8px;">
        <mat-expansion-panel-header>  
          <mat-panel-title style="font-weight: 500; font-size: 18px;">
            ¿Cómo enviar Emails?  
          </mat-panel-title>        
        </mat-expansion-panel-header>      
        <h3 style="font-weight: 400;">Sigue estos 5 simples pasos:
            <br>
            1. Primero debes seleccionar todos los contactos a los cuales desees enviarles el mensaje.
            <br>
            2. Luego, debes pulsar el botón “Enviar mensaje” que aparece arriba a la derecha de tu lista de contactos, en el panel principal.
            <br>
            3. Seleccionar la opción de “Mail”.
            <br>
            4. Ahora, debes escribir el mensaje que desees (puedes utilizar tarjetas de variantes, las cuales están explicadas en esta sección de preguntas frecuentes). 
            <br>
            5. Listo! solo presiona enviar.           
        </h3>   
      </mat-expansion-panel>

      <mat-expansion-panel class="my-3" style="max-width: 85%; margin: auto; border-radius: 8px;">
        <mat-expansion-panel-header>  
          <mat-panel-title style="font-weight: 500; font-size: 18px;">
            ¿Cómo crear mensajes personalizados? 
          </mat-panel-title>        
        </mat-expansion-panel-header>      
        <h3 style="font-weight: 400;">Undertake Data te permite fácilmente enviar mensajes personalizados a todos tus contactos, escribiendo solo un mensaje. A continuación te explicamos como hacer que tu mensaje se personalice automáticamente: 
          <br>

            Una vez que hayas seleccionado los contactos que le quieras escribir, se te abrirá una ventana para que escribas el mensaje que quieras enviarles. 
            <br>
            En la parte inferior de la ventana mencionada, se encuentran unos botones (o tarjetas)
            <br>
            Estas son las variantes personalizables. Por lo tanto, cada vez que cliquees en una de ellas, se pegarán en tu mensaje, y esto hará que nuestro software interprete que en cada lugar de la variante, debe poner los datos de las personas con las cuales desees comunicarte, tomando la información que escribiste al crear el contacto en cuestión.
            <br>
            <br>
            ¿Qué significa cada variante?
            <br>
           <br>
            Firstname: Nombre de pila
            <br>
            Lastname: Apellido
            <br>
            Address: Dirección
            <br>
            Phone: Número de teléfono
            <br>
            Email: Email
            <br>
            Birthdate: Fecha de cumpleaños.
            <br>
             <hr>
            Para facilitar la comprensión, daremos un ejemplo:
            <br>
            <br>
            Usted selecciona 3 contactos: Maria, Juan y Gustavo. Luego elige enviarles un mensaje. Y escribe: “Hola (firstname) ¿Cómo está?” y luego envía el mensaje. El software enviará 3 mensajes distintos, uno a Maria que dirá “Hola Maria ¿Cómo está?’’; otro a Juan, que dirá: “Hola Juan ¿Cómo está?’’; y otro a Gustavo, que dirá: “Hola Gustavo ¿Cómo está?’’.
            <br>
            Nota: Es importante que los datos de las variantes que usted escriba se encuentren cargados dentro de la base de datos. 
        </h3>   
      </mat-expansion-panel>


      <mat-expansion-panel class="my-3" style="max-width: 85%; margin: auto; border-radius: 8px;">
        <mat-expansion-panel-header>  
          <mat-panel-title style="font-weight: 500; font-size: 18px;">
            ¿Cómo cargar clientes? 
          </mat-panel-title>        
        </mat-expansion-panel-header>      
        <h3 style="font-weight: 400;">Para cargar tus clientes, debes tocar el botón “Añadir contacto” que figura arriba y a la derecha de tu lista de contactos. Completar toda la información que desees, y hacer clic en crear.
        </h3>   
      </mat-expansion-panel>

      <mat-expansion-panel class="my-3" style="max-width: 85%; margin: auto; border-radius: 8px;">
        <mat-expansion-panel-header>  
          <mat-panel-title style="font-weight: 500; font-size: 18px;">
            ¿Cuántos mails puedo enviar por día?
          </mat-panel-title>        
        </mat-expansion-panel-header>      
        <h3 style="font-weight: 400;">La cantidad de mails permitidos por día, por usuario se limita a 500. Este límite lo imponen los servicios de correo electrónico.
          <br>
        </h3>   
      </mat-expansion-panel>

</mat-accordion>
