<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-md-6 col-lg-4">
            <div class="text-center cont" style="border: 1px solid rgb(124, 118, 118); border-radius: 4px; padding-bottom: 10px;">
                <img src="../../../../assets/mpago.jpg" alt="" class="img-fluid">
                <button (click)="mercadoPago()" mat-flat-button color="primary" style="width: 90%;">Activar</button>
            </div>
        </div>
    </div>
</div>
