<div
  class="p-2"
  [ngStyle]="{
    background: isLogin
      ? 'linear-gradient(39.97deg, #9cc4db 0.79%, #6e75f0 79.29%)'
      : 'linear-gradient(79.97deg, #4cc4db 0.79%, #6e75f0 79.29%)'
  }"
  style="background-size: cover"
>
  <div
    class="container d-flex justify-content-center align-content-center"
    style="min-height: 100vh"
  >
    <div class="row d-flex justify-content-center align-content-center w-100">
      <!-- div class="col-sm-12 col-md-6 p-5 border text-center -->
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center text-white">
        <img
          src="../../../assets/logo.png"
          alt="logo under"
          style="width: 275px"
        />
        <h1 class="text-light" style="font-size: 22px">
          ¡ Bienvenido/a ! <strong>BETA 0.1</strong>
        </h1>
        <br />

        <form (ngSubmit)="handleClick()" [formGroup]="formLogin" class="mt-4">
          <div class="mb-3 d-flex">
            <i class="fas fa-user icono" style="font-size: 25px"></i>
            <input
              type="email"
              class="form-control"
              formControlName="user"
              placeholder="Nombre de usuario"
            />
          </div>

          <div *ngIf="!isLogin" class="mb-3 d-flex">
            <i class="fas fa-user icono" style="font-size: 25px"></i>
            <input
              type="email"
              class="form-control"
              formControlName="userConfirm"
              placeholder="Nombre de usuario"
            />
          </div>

          <div class="mb-3 d-flex">
            <i class="fas fa-key icono" style="font-size: 25px"></i>
            <input
              formControlName="password"
              autocomplete="off"
              type="password"
              class="form-control"
              placeholder="Contraseña"
            />
          </div>

          <div *ngIf="!isLogin" class="mb-3 d-flex">
            <i class="fas fa-key icono" style="font-size: 25px"></i>
            <input
              formControlName="passwordConfirm"
              autocomplete="off"
              type="password"
              class="form-control"
              placeholder="Confirmar Contraseña"
            />
          </div>

          <br />
          <button
            mat-raised-button
            class="btn btn-lg btn-sesion"
            color="primary"
            style="width: 225px; border-radius: 20px"
          >
            {{ buttonText }}
          </button>

          <div class="text-center text-white enlaces">
            <br />
            <a
              mat-button
              style="font-size: 22px"
              (click)="handleButtonType()"
              >{{ footer }}</a
            >
            <a mat-button style="font-size: 22px" routerLink=""
              >¿Olvidaste tu contraseña?</a
            >
          </div>
          <br />
          <div class="text-center mat-typography">
            <h4 style="font-size: 19px">
              <br />
              Al iniciar sesión, aceptas nuestros
              <br />
              <a class="links" href=""
                ><span style="font-weight: 500">Términos y Condiciones</span></a
              >
              y
              <a class="links" href=""
                ><span style="font-weight: 500">Política de privacidad</span></a
              >
            </h4>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
