<div class="row">
    <h1 class="fs-1 text-center py-5">Las estadisticas de su web</h1>
</div>

<div class="row py-5">
    <div class="col fw-bold fs-2 border p-5 lh-base">
        <div>Visitas Mensuales</div>
        <hr>
        <div class="text-success">57</div>
    </div>
    <div class="col fw-bold fs-2 border p-5 lh-base">
        <div>Visitas el día de hoy</div>
        <hr>
        <div class="text-success">17</div>
    </div>
    <div class="col fw-bold fs-2 border p-5 lh-base">
        <div>Visitas Totales</div>
        <hr>
        <div class="text-success">2589</div>
    </div>
</div>

<div class="row py-2">
    <div class="col">
        <div class="col fw-bold fs-2 border p-5 lh-base">
            <div>Ventas Realizadas</div>
            <hr>
            <div class="text-success">140</div>
        </div>
    </div>
    <div class="col">
        <div class="col fw-bold fs-2 border p-5 lh-base">
            <div>Dinero Generado </div>
            <hr>
            <div class="text-success">$18584</div>
        </div>
    </div>
</div>
